@model EasyPTC.Web.Areas.Administration.ViewModels.Advertisements.AdvertisementViewModel

<div class="kendo-form">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <fieldset>
                @Html.EditorFor(m => m.Name)
                @Html.EditorFor(m => m.Target)
                @Html.EditorFor(m => m.Url)
                @Html.EditorFor(m => m.AvailableClicks)
                @Html.EditorFor(m => m.Type, new { ListItems = ViewBag.Types })
            </fieldset>
        </div>
    }
</div>