@model IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @foreach (var post in Model)
    {
        <div class="row">
            <div class="col-md-2">
                <div class="well text-center">
                    <div class="row">
                        <div class="col-md-1">
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <input type="submit" id="up-vote-@post.Id" class="vote-up-button" onclick="voteUp(@post.Id)">
                                <input type="submit" id="down-vote-@post.Id" class="vote-down-button" onclick="voteDown(@post.Id)">
                            }
                        </div>
                        <div class="col-md-1">
                            <div class="vote" id="vote-score">@post.VoteScore</div>
                            votes
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <div class="row">
                    <h4>
                        <a href="questions/@post.Id/@post.Title">@post.Title</a>
                    </h4>
                </div>
                <div class="row">
                    <p>asked by @post.AuthorName</p>
                </div>
                <div class="row">
                    @foreach (var tag in post.Tags)
                    {
                        <span class="label label-default"><a href="questions/tagged/@tag.Name">@tag.Name</a></span>
                    }
                </div>
            </div>
        </div>
        <hr />
    }
</div>

<script>
    function voteUp(id) {
        var vote = {
            voteScore: 1,
            postId: id
        }

        $.ajax({
            url: '/Home/Vote',
            type: 'POST',
            data: JSON.stringify(vote),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if ($('#down-vote').css('display') === 'none') {
                    $('#down-vote').show();
                }
                else {
                    $('#down-vote').hide();
                }

                $('#vote-score').html(data);
            }
        });
    }

    function voteDown(id) {
        var vote = {
            voteScore: -1,
            postId: id
        }

        $.ajax({
            url: '/Home/Vote',
            type: 'POST',
            data: JSON.stringify(vote),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if ($('#up-vote').css('display') === 'none') {
                    $('#up-vote').show();
                }
                else {
                    $('#up-vote').hide();
                }

                $('#vote-score').html(data);
            }
        });
    }

</script>
